@import url('https://fonts.googleapis.com/css2?family=McLaren&family=Noto+Sans+Tai+Le&family=Pompiere&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    /*background:linear-gradient(to right, rgb(4, 177, 148), rgba(91, 245, 150, 0.747));*/
    background:linear-gradient(to top, rgb(30, 132, 150), rgba(58, 197, 155, 0.836));
}

a {
    text-decoration: none;
    color: black;
}

.cabecalho {
    background-color: rgba(152, 240, 255, 0.144);
    text-decoration: none; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    font-family: 'Pompiere', sans-serif;
    font-size: 33px;
    color: rgba(0, 0, 0, 0.904);
    font-weight: 400;
    gap : 5px;
    height: 55px;
}

.cabecalho-logo {
    display: flex;
    padding-left: 5%;
}

.logo-imagem{
    height: 40px;
    width: 40px;
}

.cabecalho-escrito {
    display: flex;
    padding-right: 5%;
}

.cabecalho-texto {
    text-decoration: none; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-family: 'McLaren', sans-serif;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.904);
    font-weight: 400;
    gap : 10px;
}
        /*CELULAR********************/
        @media screen and (max-width: 500px){
            .cabecalho {
                font-size: 20px;
                flex-wrap: nowrap;
                justify-content: space-around;
                height: 40px;
            }
            .cabecalho-logo{
                padding-left: 0%;
            }
            .logo-imagem{
                height: 25px; width: 25px;
            }
            .cabecalho-texto{
                gap : 0px;
                font-size: 10px;
                width: 60px;
            }
            .cabecalho-escrito{
                padding-right: 0px;
            }
        }

        /*TABLET********************/
        @media screen and (min-width: 500px) and (max-width: 750px){
            .cabecalho {
                font-size: 30px;
            }
            .logo-imagem{
                height: 35px; width: 35px;
            }
            .cabecalho-texto{
                font-size: 18px;
            }
        }


/*  CONTEUDO PRINCIPAL -------------------------------------------*/
.conteudo{
    border-top: 2px solid rgba(116, 238, 247, 0.829);
    margin-bottom: 50px;
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    height: 400px;
    width: 70%;
    margin-left: 15%;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.conteudo-principal-titulo{
    font-family: 'Pompiere', sans-serif;
    font-size: 75px;
    color: rgba(0, 0, 0, 0.904);
    font-weight: 900;
}

.conteudo-principal-subtitulo{
    font-family: 'McLaren', sans-serif;
    font-size: 22px;
    color: rgba(5, 54, 40, 0.911);
}

.conteudo-principal-animacao{
    height: 400px;
    animation: left 2s linear 1;
    margin-left: 10px;
}

.conteudo-principal-imagem {
    height: 95%; 
    border-radius: 7em; 
    box-shadow: 4px 5px 4px rgba(255, 255, 255, 0.11);
    
}

@keyframes left {
    0%{
        margin-left: 15%;
        opacity: 80%;
    }
    50%{
        margin-left: 0%;
    }
}

.conteudo-principal-botao{
    background-color: rgba(116, 238, 247, 0.829);
    color: rgb(2, 0, 29);
    width: 170px;
    height: 40px;
    font-size: 16px;
    font-family: 'McLaren', sans-serif;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 87, 87, 0.164);
    border-radius: 15px;
}

.conteudo-principal-botao:hover {
    background-color: rgba(148, 246, 253, 0.829);
    color: rgb(2, 0, 29);
    width: 170px;
    height: 40px;
    font-size: 16px;
    font-family: 'McLaren', sans-serif;
    border: none;
    border-radius: 15px;

}
        /*  CELULAR***************/
        @media screen and (max-width: 500px){
            .conteudo-principal {
                width: 90%;
                margin-left: 3%;
                margin-top: 0px;
                justify-content: start;
                height: 350px;
                gap: 10px;
            }
            .conteudo-principal-escrito{
                gap: 20px;
                width: 40%;
                margin-left: 4%;
            }
            .conteudo-principal-titulo{
                font-size: 40px;
            }
            .conteudo-principal-subtitulo{
                font-size: 15px;
            }
            .conteudo-principal-animacao{
                height: 400px;
                margin-top: 100px;

            }
            .conteudo-principal-imagem{
                height: 70%;
            }
            .conteudo-principal-botao, .conteudo-principal-botao:hover {
                width: 140px;
                font-size: 13px;
                border-radius: 15px;
            }
        }
        /*TABLET********************/
        @media screen and (min-width: 501px) and (max-width: 750px){
            .conteudo-principal-titulo{
                font-size: 70px;
            }
            .conteudo-principal-subtitulo{
                font-size: 18px;
            }
        }



/* CONTEUDO SEGUNDO------------------------- */

.conteudo-segundo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 48px;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: center;
}

.conteudo-segundo-titulo{
    font-family: 'McLaren', sans-serif;
    color: rgba(0, 44, 31, 0.863);
    font-size: 23px;
    padding-top: 20px;
    padding-left: 5%;
}

.conteudo-segundo-subtitulo{
    font-family: 'Noto Sans Tai Le', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: rgb(0, 22, 29);  
    padding-bottom: 40px;
    width: 70%;
}

        /*  CELULAR***************/
        @media screen and (max-width: 500px){
            .conteudo-segundo-titulo{
                font-size: 17px;
            }
            .conteudo-segundo-subtitulo{
                font-size: 15px;
                width: 90%;
            }
        }
            


/*  CONTEUDO RETANGULO -------------------------------------------*/
.conteudo-retangulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.conteudo-retangulo-back {
    background-color: rgba(240, 248, 255, 0.295);
    width: 70%;
}

.conteudo-retangulo1, .conteudo-retangulo2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(7 255 0 / 23%);
    height: 300px;
    overflow:auto;
}

.conteudo-retangulo1-escrito, .conteudo-retangulo2-escrito {
    width: 40%;
    gap: 10px;
}

.conteudo-retangulo1-escrito-titulo, .conteudo-retangulo2-escrito-titulo {
    font-family: 'McLaren', sans-serif;
    font-size: 30px;
    color:rgb(0, 24, 9);
    margin-bottom: 15px;
}

.conteudo-retangulo1-escrito-texto, .conteudo-retangulo2-escrito-texto {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: 100;
    color:rgb(0, 29, 11);
}

.conteudo-retangulo1-imagem {
    height: 60%;
}

.conteudo-retangulo2 {
    background-color: rgb(1, 85, 74);
}

.conteudo-retangulo2-escrito-titulo, .conteudo-retangulo2-escrito-texto {
    color: rgba(235, 235, 235, 0.952);
}

        /*  CELULAR***************/
        @media screen and (max-width: 500px){
            .conteudo-retangulo-back{
                width: 100%;
            }
            .conteudo-retangulo1-escrito, .conteudo-retangulo2-escrito {
                width: 50%;
            }
            .conteudo-retangulo1-escrito-titulo, .conteudo-retangulo2-escrito-titulo {
                font-size: 22px;
            }
            .conteudo-retangulo1-escrito-texto, .conteudo-retangulo2-escrito-texto {
                font-size: 17px;
                font-weight: bold;
            }
            .conteudo-retangulo1-imagem {
                height: 40%;
            }
        }
        /*TABLET********************/
        @media screen and (min-width: 500px) and (max-width: 750px){
            .conteudo-retangulo-back{
                width: 85%;
            }
            .conteudo-retangulo1-escrito-titulo, .conteudo-retangulo2-escrito-titulo {
                font-size: 25px;
            }
            .conteudo-retangulo1-escrito-texto, .conteudo-retangulo2-escrito-texto {
                font-size: 19px;
            }
            .conteudo-retangulo1-escrito, .conteudo-retangulo2-escrito {
                width: 50%;
            }
            .conteudo-retangulo1-imagem {
                height: 50%;
            }
        }



/*  CONTEUDO RESTANTE -------------------------------------------*/

.conteudo-terceiro, .conteudo-quarto {
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo-terceiro, .conteudo-quarto{
    margin-top: 20px;
    height: 430px;
}

.conteudo-terceiro-conteudo, .conteudo-quarto-conteudo {
    height: 350px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.conteudo-terceiro-imagem, .conteudo-quarto-imagem{
    border-radius: 50px;
    height: 100%;
    box-shadow: 4px 5px 4px rgba(255, 255, 255, 0.068);
}

.conteudo-terceiro-escrito, .conteudo-quarto-escrito{
    display: flex;
    justify-content: center;
}

.conteudo-terceiro-titulo, .conteudo-quarto-titulo{
    font-family: 'McLaren', sans-serif;
    font-size: 19px;
    font-weight: 600;
    color: rgba(0, 17, 22, 0.678);

}

        /*CELULAR *****************************/
        @media screen and (max-width: 600px) {
            .conteudo-terceiro, .conteudo-quarto {
                height: 420px;
                margin-top: 0px;
            }
            .conteudo-terceiro-conteudo, .conteudo-quarto-conteudo{
                display: flex;
                width: 80%;
                justify-content: center;
                flex-direction: column;
                text-align: justify;
            }
            .conteudo-quarto-conteudo{
                flex-direction: column-reverse;
            }
            .conteudo-terceiro-imagem, .conteudo-quarto-imagem{
                height: 70%;
            }
            .conteudo-terceiro-titulo, .conteudo-quarto-titulo{
                font-size: 15px;
            }

        }
        /*TABLET********************/
        @media screen and(min-width: 600px) and (max-width: 900px){
            .conteudo-terceiro, .conteudo-quarto {
                height: 500px;
                margin-top: 0px;
            }
            .conteudo-terceiro-conteudo, .conteudo-quarto-conteudo{
                width: 85%;
                justify-content: center;
                flex-direction: column;
                text-align: justify;
            }
            .conteudo-quarto-conteudo{
                flex-direction: column-reverse;
            }
            .conteudo-terceiro-imagem, .conteudo-quarto-imagem{
                margin-top: 10px;
                height: 90%;
            }
            .conteudo-terceiro-titulo, .conteudo-quarto-titulo{
                font-size: 18px;
            }
        }




/*  CONTEUDO HORARIOS E INF*/

.conteudo-servicos{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.conteudo-servicos1 {
    display: flex;
    justify-content: center;
}

.conteudo-servicos-horarios{
    display: flex;
    flex-direction:row;
    align-items: center;
    background-color: rgba(21, 95, 124, 0.952);
    color: rgb(229, 242, 253);
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.11);
    height: 350px;
    width: 80%;
    border-radius: 30px;
 }

.conteudo-servicos-titulo {
    font-family: 'McLaren', sans-serif;
    font-size: 21px;
    margin-bottom: 5%;
}

.conteudo-servicos-texto{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin-bottom: 3px;
}

.conteudo-servicos-imagem1{
    height: 30%;
    margin: 20px;
}

.conteudo-servicos2{
    display: flex;
    flex-direction: column;
}

.conteudo-servicos-imagem2{
    height: 55%;
    margin: 15px;
}

.conteudo-servicos-telefone{
    display: flex;
    flex-direction:row;
    align-items: center;
    background-color: rgba(5, 79, 97, 0.925);
    color: #defefff6;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.11);
    height: 170px;
    width: 110%;
    margin-bottom: 10px;
    border-radius: 50px 10px;
 }

 .conteudo-servicos-agendar{
    display: flex;
    flex-direction:row;
    align-items: center;
    background-color: rgba(0, 54, 61, 0.932);
    color: #cdebec;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.11);
    height: 170px;
    width: 110%;
    border-radius: 50px 10px;
 }
 
.conteudo-servicos-agendar-whatsapp{
    display: flex;
    align-items: center;
    height: 50px;
    width: 240px;
    background-color: #00221f;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.185);
    border-radius: 20px;
    padding: 10px;
    margin-left: 15px;
    text-decoration: none;
}

.conteudo-servicos-agendar-whatsapp:hover{   
    background-color: #00443d;
}

.conteudo-servicos-agendar-whatsapp-texto{
    color: #cdebec;
    text-decoration: none;
    font-family: 'McLaren', sans-serif;
    font-size: 16px;
    padding-left: 10px;
}

.conteudo-servicos-agendar-whatsap-icon{
    height: 120%;
    padding-left: 5px;
}

    /*CELULAR **********************************/
    @media screen and (max-width: 400px) {
            .conteudo-servicos{
                flex-direction: column;
            }
            .conteudo-servicos-horarios{
                height: 250px;
                width: 90%;
                margin-bottom: 10px;
            }
            .conteudo-servicos-telefone{
                height: 170px;
                width: 95%;
                margin-left: 10px;
             }
             .conteudo-servicos-titulo {
                font-size: 17px;
                font-weight: 400;
            }
            .conteudo-servicos-texto{
                font-size: 15px;
            }
            .conteudo-servicos-agendar{
                height: 170px;
                width: 95%;
                margin-left: 10px;
             }
             .conteudo-servicos-agendar-whatsapp{
                width: 220px;
                padding: 10px;
                margin-left: 0px;
            }
            .conteudo-servicos-agendar-whatsapp-texto{
                font-size: 15px;
                padding-left: 8px;
            }
        }

    

/*  RODAPE --------------------------*/
.rodape{
    padding: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.281);
    display: flex;
    align-items: center;
    justify-content: center;
}
